<mat-card>
  <mat-card-content>
    <div fxLayout="column" fxFlex>
      <div fxLayout="row" fxFlex>
        <div fxLayout="row">
          <span>{{ transfer.sender }}</span>
        </div>

        <mat-icon>arrow_right_alt</mat-icon>

        <div fxLayout="row">
          <span>{{ transfer.receiver }}</span>
        </div>
      </div>

      <span>Observations: {{ transfer.observations }}</span>
    </div>
  </mat-card-content>

  <mat-card-actions>
    <span *ngIf="transfer.state === TransferState.AWAITING_CONFIRMATION">
      Awaiting confirmation
    </span>

    <ng-container *ngIf="transfer.state === TransferState.PENDING_ANSWER">
      <button mat-raised-button color="warn" (click)="rejectTransfer.emit()">
        REJECT
      </button>
      <button mat-button (click)="modifyTransfer.emit()">MODIFY</button>
      <button
        mat-raised-button
        color="secondary"
        (click)="acceptTransfer.emit()"
      >
        ACCEPT & TRANSFER
      </button>
    </ng-container>

    <span *ngIf="transfer.state === TransferState.COMPLETED">
      Transfer completed
    </span>
  </mat-card-actions>
</mat-card>
