<div fxLayout="row" fxFill>
  <ht-traceable-list
    fxFlex="30"
    [traceables]="traceables$ | async"
    (traceableSelected)="traceableSelected($event)"
  ></ht-traceable-list>

  <div class="detail-container" fxFlex>
    <mat-card *ngIf="(selectedTraceable$ | async)" fxFlex>
      <ht-traceable-detail
        [traceable]="selectedTraceable$ | async"
        [transfers]="selectedTraceableTransfers$ | async"
        (initTransfer)="initTransfer()"
      ></ht-traceable-detail>
    </mat-card>

    <ng-container *ngIf="selectedTransferId">
      <ht-transfer fxFlex
        [transferId]="selectedTransferId"
        [traceableId]="(selectedTraceable$ | async).id"
        [editingMode]="newTransfer"
      ></ht-transfer>
    </ng-container>
  </div>
</div>
